.middle_content {
  display: block;
  float: left;
  font-size: 14px;
  width: 100%;
}
.middle_content h3 {
  /*float: left;*/
  line-height: 26px;
  padding-left: 20px;
  padding-top: 10px;
  text-align: left;
  text-transform: uppercase;
}
.middle_content h3 a { text-decoration:none; }
.middle_content h3 a:hover { text-decoration:none; color:#8c734b;}
.middle_content .post
{
	  float: left;
  width: 100%;
  border-bottom:1px solid #d0d0d0;
  margin:15px 0px;
}
.noborder
{
	border:none !important;
}
.middle_content .date 
{
	width:50px;
	float:left;
	border-right:1px solid #8c734b;
	margin:10px 0px;
}
.middle_content .date h1 {
    color: #8c734b;
    float: left;
    font-size: 36px;
	line-height:36px;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}
.middle_content .date p {
    float: left;
    font-size: 14px;
    padding: 0;
	margin:0;
    width: 100%;
	color:#8c734b;
}
.middle_content p {
  float: left;
  font-size: 16px;
  line-height: 24px;
  padding: 10px 0;
  width: 100%;
}
.middle_content span
{
  float: left;
  font-size: 14px;
  line-height: 24px;
  width: auto;
  text-transform:uppercase;
  font-weight:bold;
}
.middle_content .tags
{
  float: left;
  width: 100%;
}
.middle_content .tags p
{
  float: left;
  font-size: 13px;
  text-decoration:underline;
  text-transform:uppercase;
  color:#8c734b;
} 
.middle_content span a
{ text-decoration:none; color:#000;}
.middle_content .post_img
{
	float:left;
	width:100%;
}
.middle_content h2
{
	float:left;
	font-style:italic;
	font-size:26px;
	margin-left:15px;
}
.sidebar {
  float: left;
  padding-left: 20px;
  width: auto;
}
.sidebar h3
{
	font-style:normal !important;
}
.sidebar ul
{
	padding:0;
	margin:0;
	width:95%;
}
.sidebar ul li
{
	list-style:none;
	float:left;
	width:100%;
	border-bottom:1px solid #d0d0d0;
}
.sidebar ul li a {
	float:left;
    color: #000;
    font-size: 15px;
    line-height: 48px;
	text-decoration:none;
	font-family: P22_UNDERGROUNDLIGHT;
}
.sidebar span
{
  float: left;
  font-size: 14px;
  line-height: 24px;
  width: auto;
  text-transform:uppercase;
}
.sidebar .tags
{
  float: left;
  width: 100%;
}
.sidebar .tags p
{
  float: left;
  font-size: 13px;
  line-height:36px;
  text-decoration:underline;
  text-transform:uppercase;
  color:#8c734b;
}
.sidebar .date {
  border-right: 1px solid #8c734b;
  float: left;
  margin-top: 20px;
  width: 60px;
}
.sidebar h2 {
  float: left;
  font-size: 24px;
  font-style: italic;
  line-height: 30px;
  margin: 5px 0;
}
.sidebar .date p {
    color: #8c734b;
    float: left;
    font-size: 14px;
    margin: 0;
    padding: 0;
    width: 100%;
}
.side_post
{
	width:100%;
	float:left;
	border-top:1px solid #d0d0d0;
	margin-top:10px;
}
.side_post span {
  float: left;
  font-size: 11px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  width: auto;
}
.side_post h3 {
    float: left;
    line-height: 24px;
    padding-left: 10px;
    text-align: left;
    text-transform: uppercase;
}
.side_post img
{
	width:100%;
}
.pad_top { padding-top:15px !important; }
.instagram
{
	width:100%;
	float:left;
	border:1px solid #8c734b;
	margin-top:10px;
}
.instagram img{ padding:10px; width:100%; float:left; }
.instagram h3 {
  color: #8c734b;
  float: right;
  font-size: 18px;
  line-height: 24px;
  margin: -43px 48px 1px;
  padding-left: 10px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}
.instagram i
{
	color:#8c734b;
}
.instagram .icon {
  float: left;
  margin-left: 5px;
  width: 50px;
}
.instagram .icon img {
  float: left;
  margin-left: 5px;
  padding: 2px;
  width: 100%;
  margin-top: 2px;
}
.first_category_alerts {
    background: none repeat scroll 0 0 #fff;
    color: #010101;
	font-size: 15px;
    line-height: 70px;
    width: 100%;
}

.first_category_alerts ul { list-style: none; list-style-type: none; margin: 0px; padding: 0px; }

.first_category_alerts ul li { list-style: none; list-style-type: none; margin: 0px; padding: 0px; }

.first_category_alerts ul li a {

    border-bottom: 1px solid #dddddd;

    color: #010101;

    display: block;

    list-style: outside none none;

    padding-left: 7px;

}

.first_category_alerts ul li a:hover { list-style: none; list-style-type: none; display: block; text-decoration: none; background: #090909; color: #fff; }

.first_category_alerts ul li .active { list-style: none; list-style-type: none; display: block; background: #090909; border-top: 5px solid #ff2527; color: #fff; }

.bullet_sign { color: #ff2527; float: right; font-size: 14px !important; padding-right: 18px; padding-top: 32px; }

.banner { width:100%; float:left; }
.banner img { width:100%; float:left; position:relative;}
.banner_carousel {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 1px solid #d0d0d0;
  bottom: -50px;
  padding:10px 0px;
  float: left;
  width:910px;
  position: absolute;
}
.colm-1{width: 100%;}
.colm-2{width: 100%;}
.jp-previous {
  background: url("../images/left.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0) !important;
  color: #000;
  display: block !important;
  float: left;
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  width: auto;
  font-family: 'p22_underground_probold' !important;
}
.jp-previous a {
  background: url("../images/left.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0) !important;
  color: #000;
  display: block !important;
  float: left;
  font-size: 14px;
  line-height: 24px;
  padding-left: 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  width: auto;
  font-family: 'p22_underground_probold' !important;
}
.holder a
{
	display:none;
	cursor:pointer;
}
.jp-next {
  background: url("../images/right.png") no-repeat scroll 42px 2px rgba(0, 0, 0, 0) !important;
  color: #000;
  display: block !important;
  float: right;
  font-size: 14px;
  line-height: 24px;
  padding-right: 20px;
  text-decoration: none !important;
  text-transform: uppercase;
  width: auto;
  font-family: 'p22_underground_probold' !important;
}
.jp-next a {
  background: url("../images/right.png") no-repeat scroll 42px 2px rgba(0, 0, 0, 0) !important;
  color: #000;
  display: block !important;
  float: right;
  font-size: 14px;
  line-height: 24px;
  padding-right: 15px;
  text-decoration: none !important;
  text-transform: uppercase;
  width: auto;
  font-family: 'p22_underground_probold' !important;
}



.wpcf7-form-control {
  /*border-color: -moz-use-text-color -moz-use-text-color #000 !important;*/
  border-radius: 0 !important;
  border-style: none none solid !important;
  border-width: medium medium 1px !important;
  box-shadow: none !important;
}

.wpcf7 textarea{

border-bottom:1px solid #000 !important;
border-left:none !important;
border-right:none !important;
border-top:none !important;
box-shadow:none !important;
resize:none !important;
width:80%;
font-family: conv_acaslonpro-italic;

}

.wpex-readmore{

margin-top:29px !important;
float:right !important;

}


/*  30 Jan 2015  */
.page-id-2 .colm-1 { margin-top: 5em;}

.entry.clr > p { padding:5px 0 !important; }
.wpcf7-form-control-wrap input[type="text"] { border-bottom:1px solid #000 !important; }
.wpcf7-form-control-wrap input[type="email"] { border-bottom:1px solid #000 !important; }
.wpcf7-form-control-wrap input[type="submit"] { border-bottom:0 !important; }

_:past, .wpcf7-form-control-wrap > input[type="text"]:not(*:root) { border-bottom:1px solid #000 !important; }
_:past, .wpcf7-form-control-wrap > input[type="email"]:not(*:root) { border-bottom:1px solid #000 !important; }

@media (min-width:320px) and (max-width:959px) {
textarea { width:100%; }
}

@media (min-width:320px) and (max-width:360px) {
.sidebar ul li a img { width:100%; clear:both; }
}

@media (min-width:320px) and (max-width:767px) {
.searchandfilter li { width:100%; }
.postform { width:95%; }
.searchandfilter input { width:95%; }
}

@media (min-width:768px) and (max-width:959px) {
.searchandfilter ul { float:left; width:100%; }
.searchandfilter li { float:left; width:46%; }
.searchandfilter li + li { float:left; width:46%; }
.searchandfilter li + li + li { float:left; width:100%; }
.postform { width:100%; }
.searchandfilter input { width:97%; }
}

@media (min-width:960px) and (max-width:1100px) {
.searchandfilter li { float:left; width:30%; }
}

@media (min-width:320px) and (max-width:1000px) {
.wpcf7 textarea {
  width: 100% !important;
}
}


@media (min-width:320px) and (max-width:600px) {
.page-id-13 .wpcf7-form-control.wpcf7-submit {
  float: left !important;
  margin-left: 10%;
  width: 80%;
}
}
@media (min-width:601px) and (max-width:979) {
.page-id-13 .wpcf7-form-control.wpcf7-submit {
  float: left !important;
  margin-left: 7% !important;
}
}
@media (min-width:768px) and (max-width:959px) {
.page-id-13 .wpcf7-form-control.wpcf7-submit {
  float: left !important;
  margin-left: 0% !important;
}
}



p {
    color: #000000 !important;
    font-family: "Conv_Adobe Caslon Regular" !important;
    font-size: 17px !important;
}
.site-footer{
	font-family: p22_undergroundlight;
	 font-weight: 600;
}
.wppg_gallery_item_name p, .wppg_album_item_name p{
     color: #000 !important;
    font-family:"p22_undergroundlight" !important;
    font-size: 14px !important;
}


.main_folio { width: 937px !important; height: auto !important; margin: 0 auto !important; }
.main_folio_row { width: 100% !important; height: auto !important; clear: both;}
.img_responsive_folio { width: 100% !important; height: 100%;}
.main_folio_col_1 { float: left !important; height: 480px !important; margin: 7px 7px 0 0 !important; width: 32.8% !important; }
.main_folio_col_1_pad { margin-right: 0px !important; }
.main_folio_col_1_pad2 { margin-top: 7px !important; }
.main_folio_col_2 { float: left !important; margin: 7px 8px 0 0 !important; width: 49.1% !important;  height: 725px !important;}
.main_folio_col_3 { float: left !important; margin: 7px 10px 0 0 !important; width: 32.55% !important; height: 480px !important; }
.main_folio_col_4 { float: left !important; margin: 7px 0 0 !important; width: 65.85% !important; height: 965px !important;}
.main_folio_col_3 .main_folio_row {
    height: 480px !important;
}
 @media (min-width:240px) and (max-width:699px) {
.main_folio { width: 100% !important; }
.main_folio_col_1 { margin: 2px 2px 0 0 !important; }
.main_folio_col_2 { margin: 2px 2px 0 0 !important; }
.main_folio_col_1_pad2 { margin-top: 2px !important; }
.main_folio_col_3 { margin: 3px 2px 0 0 !important; }
.main_folio_col_4 { float: left !important; margin: 3px 0 0 !important; width: 65.85% !important; }
.main_folio_col_1 { width: 99.8% !important; }
.main_folio_col_2 { width: 99.4% !important; }
.main_folio_col_3 { width: 99.55% !important; }
.main_folio_col_4 { width: 98.5% !important; }
}
 @media (min-width:700px) and (max-width:936px) {
.main_folio { width: 100% !important; }
.main_folio { height: auto !important; margin: 0 auto !important; width: 100% !important; }
.main_folio_col_1 { float: left !important; height: auto !important; margin: 7px 7px 0 0 !important; width: 32.65% !important; }
.main_folio_col_4 { float: left !important; margin: 7px 0 0 !important; width: 66% !important; }
}

#commentform p.comment-notes {
  
  margin-bottom: 35px;
  
  
}

.page-id-13 .wpcf7-form-control.wpcf7-submit {
  float: left !important;
  margin-left: 10%;
}

